
.sigen.navbar-brand {
    padding:0;

}

.iframe{
    height: 400px;
    width: 100%;

    border-color: currentcolor;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

.panel-default {
    border-color: #ddd;
    margin-top: 15px;
    color: #7C8AD3;
}
.form-input, .error {
    display: block;
    height: 24px;
    padding: 6px 10px;
    margin-bottom: 20px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -moz-box-shadow:    inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow:         inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    behavior: url(PIE.htc);
    width: 320px;
    border: 1px solid #dbdbdb;
    color: #428bca;
    position: relative;
}

.error{
    border: 1px solid red; 


}
.sigen.navbar-brand img {
    margin-top: 5px;
    height: 45px;
    margin-left: 12px;
    margin-bottom: 5px;
}
.sigen.navbar-brand-correo img {
    margin-top: 5px;
    height: 40px;  
    margin-left: 12px;
    margin-bottom: 5px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{

    color:#67685F
}
.navbar-inverse{

    background-color: #F8F8F8;
    border-color: #080808;
}

.navbar-inverse .navbar-nav>li>a{
    color: #2414E0;
}


.navbar-inverse .navbar-toggle {
    border-color: #2414E0;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: blue;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-wrapper .navbar {
    border-radius: 15px;
}


.col-md-7{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px ;
    color: gray;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: floralwhite;
    margin-top: -30px;
    margin-bottom: 70px;
}

.text-muted {
    color: white;
    padding-left: 15px;
}

.row {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 10px
}

.featurette-divider {
    margin: 50px 0;
}

.lead {  
    font-size: 14px;  
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    color: #7C8AD3;
}

#enviar {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    background-color: dimgray;
    height: 40px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.featurette-heading {
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
    background-color: #2414E0;
    height: 50px;
    padding-top: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h2{
    margin-bottom: 0px;
}

.container{
    background-color: gainsboro;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.footer{
    height: 140px;
    background-color: dimgray;
    padding-left: 40px;
    padding-top: 45px;
    padding-right: 40px;
    margin-left: -15px;
    margin-right: -15px;
}

#nombre{    
    margin-left: 0px;
    width: 100%;
}

#apellido{
    margin-left: 0px;
    width: 100%;
}

#mail{
    margin-left: 0px;
    width: 100%;
}

#mensaje{
    margin-left: 0px;
    width: 100%;
}

#textoContacto{
    display: inline-block;
    width: 400px;
    margin-bottom: 5px;
    font-weight: 700;
}







